---
layout: default
---

<main>
  <article class="post marbo2">
    {% for post in site.posts limit: 1 %}
      {{ post.content }}
        <div class="content marto">
          <h1><a href="{{post.url}}" class="title-link">{{ post.title }}</a></h1>
       </div>
    {% endfor %}
  </article>
</main>
<section>
  <article class="content">
    <h1 class="small caps title">OTHER HI-DEF GIFS</h1>
    <ul class="large-list">
      {% for post in paginator.posts %}
        <li class="hide-first">
          <a href="{{ post.url }}" title="{{post.title}}">
            <p class="h2">{{ post.title }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>
