/* ==========================================================================

   SITE STYLES
   ========================================================================== */
body,html {height:100%;}
img {width:100%;}
.db {display:block;}
.dib {display:inline-block;}

.content {
  max-width: 720px;
  margin:0 auto;
  padding:0 20px;
}

   
ul {list-style-type:none;margin:0;padding:0;}
.hide-first:first-child {display:none;}
.title-link {color:$mdgry!important;}

.site-footer a {
  color:$mdgry;
  &:hover {color:$pink;}
}

.archive-list-i {
  line-height:2;
}
