/*

        Mathematical Theme


*/

$dkgry: #222;
$mdgry: #777;
$ltgry: #eee;
$link:  #2BB3B5;
$pink: #D1389A;

// Add prime color

body {
  color: $dkgry;
  background-color: #fff;
  
  font-family: "skolar", Georgia, serif;
}


a {
  color: $link;
  text-decoration: none;
  -webkit-transition:color .4s;
}

a.no-highlight:hover {
  color: $link!important;
}

a:hover {
  -webkit-transition:color .4s;
  color: #D1389A;
}


.dkgry { color: $dkgry!important; }
.mdgry { color: $mdgry; }
.ltgry { color: $ltgry; }
.wht {   color: #fff; }
.link {  color: $link; }

.bg-dkgry { background-color: $dkgry; }
.bg-mdgry { background-color: $mdgry; }
.bg-ltgry { background-color: $ltgry; }
.bg-link {  background-color: $link; }


.boto { border-top:    1px solid; }
.bori { border-right:  1px solid; }
.bobo { border-bottom: 1px solid; }
.bole { border-left:   1px solid; }

.bo-dkgry { border-color: $dkgry; }
.bo-mdgry { border-color: $mdgry; }
.bo-ltgry { border-color: $ltgry; }
.bo-wht {   border-color: #fff; }


.rc {   border-radius: .25rem; }
.circ { border-radius: 50%; }
